{% extends "page.html" %}
{% block content %}

<h3 style="padding-top: 6pt">
  <a href="{{ page.root }}{{ table_name }}/NCBITaxon:1">{{ table_name }}</a>
  <span class="text-secondary">{{ subject }}</span>
  {{ label }}
</h3>

<div class="pt-2 gap-2">
  <div class="dropdown" style="display: inline-block">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      View
    </button>
    <ul class="dropdown-menu">
      {% if 'NCBITaxon:' in subject %}
      <li>
        <a class="dropdown-item" href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id={{ subject|replace('NCBITaxon:','')
        }}">Official NCBI Taxonomy</a>
      </li>
      {% endif %}
      <li><a class="dropdown-item" href="{{ page.root }}ncbitaxon/{{ subject }}">Our NCBI Taxonomy</a></li>
      <li><a class="dropdown-item" href="{{ page.root }}organism_tree_old/{{ subject }}">Old Organism Tree</a></li>
      <li><a class="dropdown-item" href="{{ page.root }}organism_tree/{{ subject }}">New Organism Tree</a></li>
      <li><a class="dropdown-item" href="{{ page.root }}organism_tree_tsv?curie=eq.&quot;{{ subject }}&quot;">New
          Organism Tree Table</a></li>
      <li><a class="dropdown-item" href="{{ page.root }}ncbitaxon organism_tree/{{ subject }}">NCBI Taxonomy vs New
          Organism Tree</a></li>
      <li><a class="dropdown-item" href="{{ page.root }}organism_tree_old organism_tree/{{ subject }}">Old vs New
          Organism Tree</a></li>
    </ul>
  </div>
  <a id="add-to-organism-core" class="btn btn-primary" role="button"
    href="{{ page.root }}organism_core?view=form&curie={{ subject }}&label={{ label }}">Add to Organism Core</a>
  <a id="view-in-organism-core" class="btn btn-success" role="button"
    href="{{ page.root }}organism_core?curie=eq.&quot;{{ subject }}&quot;">View in
    Organism Core</a>
  <a id="view-in-iedb-taxa" class="btn btn-success" role="button"
    href="{{ page.root }}iedb_taxa?iedb_id=eq.&quot;{{ subject|replace('iedb-taxon:','') }}&quot;">View in IEDB Taxa</a>
  {% if table1_name != 'ncbitaxon' %}
  <form class="form" style="display: inline-block;">
    <input id="tree1-typeahead-form" class="search" type="input" placeholder="Search {{ table1_name }}..." />
  </form>
  {% endif %}
  <form class="form" style="display: inline-block;">
    <input id="tree2-typeahead-form" class="search" type="input" placeholder="Search {{ table2_name }}..." />
  </form>
</div>


<div class="row">
  <div class="col">
    {{ tree1|safe }}
  </div>
  <div class="col">
    {{ tree2|safe }}
  </div>
</div>

<div class="row">
  <div class="col">
    {{ predicate_map1|safe }}
  </div>
  <div class="col">
    {{ predicate_map2|safe }}
  </div>
</div>

{% endblock %}