__pycache__/
.DS_Store

# folders
notebooks/
snapshot_2022-12-20/
bin/

# data files
data/species/
data/epitopes.tsv
data/sources.tsv
data/allergens.tsv
data/all_epitope_assignments.tsv
data/all_source_assignments.tsv

# other files
docs/protein_tree.drawio
id_to_gene_name.tsv
tree.txt

# locked files
.~*